# Backend
backend/node_modules/
backend/.env
backend/*.log

# Flutter
flutter_app/build/
flutter_app/.dart_tool/
flutter_app/.flutter-plugins
flutter_app/.flutter-plugins-dependencies
flutter_app/.packages
flutter_app/pubspec.lock
flutter_app/.idea/
flutter_app/*.iml

# General
.DS_Store
*.swp
*.swo
*~
